ul.nav li{ 
                display: inline-block;
                padding-right: 10px; background-color: red;
            } 
a {color: white;}
#explanation li {color:black;}
ul li {color: blue;}
.important {font-weight: 600}
/* make the li with id="colors_list" purple */
